body {
	background-color: #111;
}

.repository {
	background-color: #222;
	margin: 10px;
	h5 {
		color: #eee;
		font-family: "Epilogue", sans-serif;
	}
	h6 {
		font-family: "Epilogue", sans-serif;
	}

	p {
		color: #eee;
		font-family: "Manrope", sans-serif;
	}

	a {
		text-decoration: none;
		font-family: "Manrope", sans-serif;
	}
}